footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9AC8EB; /* Couleur de fond */
  color: #F7F6CF; /* Couleur du texte */
  z-index: 100;
}

footer p {
  margin: 0;
}

/* Style pour les liens dans le pied de page */
footer a {
  color: #F7F6CF; /* Couleur des liens */
  text-decoration: none; /* Supprime le soulignement */
  transition: color 0.3s; /* Transition fluide pour la couleur */
}

footer a:hover {
  color: #5784BA; /* Couleur des liens au survol */
}
