<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal">
    <div class="modal-header">
      <h2>{{ formType === 'projectform' ? 'Project' : formType === 'listform' ? 'List' : 'Task' }}</h2>
      <button class="close-button" (click)="closeModal()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <div [ngSwitch]="formType">
        <app-project-form *ngSwitchCase="'projectform'" [currentId]="currentId"></app-project-form>
        <app-list-form *ngSwitchCase="'listform'" [currentId]="currentId"></app-list-form>
        <app-task-form *ngSwitchCase="'taskform'" [currentId]="currentId"></app-task-form>
      </div>
    </div>
  </div>
</div>