/* Styles pour le formulaire */
.my-form {
  max-width: 600px;
  margin: 20px auto; /* Centrer le formulaire */
  background-color: var(--primary-color); /* Fond du formulaire */
  padding: 20px; /* Espacement intérieur du formulaire */
  border-radius: 10px; /* Coins arrondis */

}

.form-group {
  margin-bottom: 20px; /* Augmenter l'espacement entre les groupes de formulaire */
}

label {
  font-weight: bold;
  color: #F6B12D; /* Couleur du texte des labels */
  display: block;
  margin-bottom: 10px;
}

.form-control {
  width: 100%; /* Ajustement pour tenir compte du padding */
  padding: 12px;
  border: 1px solid #335F8A; /* Bordure bleue foncée */
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}



/* Styles pour le bouton de soumission */
/* styles.css ou component-name.component.css */
.custom-button {
  color: #ffffff; /* Texte blanc */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 5px; /* Bords arrondis */
  cursor: pointer; /* Curseur de la souris */
  background-color: var(--secondary-color); /* Couleur de fond */
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 15px;
}