<form [formGroup]="listForm" (ngSubmit)="submit()" class="my-form">
  <div class="form-group">
    <input id="title" formControlName="title"  placeholder="List Name"class="form-control" />
    <div *ngIf="listForm.get('title')?.touched && listForm.get('title')?.invalid"class="error">List Name is required.
  </div>
  </div>
  <button *ngIf="!isUpdateValue" type="submit" class="custom-button">Submit</button>
  <button *ngIf="isUpdateValue" type="button" class="custom-button" (click)="edit(currentId, formType)">Edit</button>
</form>

 