/* Styles pour le formulaire */
.my-form {

    /* Ombre légère pour l'effet d'élévation */
    max-width: 600px;
    margin: 20px auto; /* Centrer le formulaire */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    color: #333; /* Couleur du texte */
    display: block; /* Pour s'assurer que le label est au-dessus de l'input */
    margin-bottom: 5px; /* Espacement en bas du label */
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc; /* Bordure grise */
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #3498db; /* Bordure bleue lorsqu'il est focus */
  }
  
  /* Styles pour le container de boutons à l'extérieur du formulaire */
  .button-container {
    text-align: right; /* Aligner le bouton à droite */
    margin-top: 20px; /* Espacement en haut du container de boutons */
  }
  
  /* Styles pour le bouton de soumission */
  .btn-primary {
    background-color: #3498db; /* Fond bleu */
    color: #ffffff; /* Texte blanc */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 5px; /* Bords arrondis */
    cursor: pointer; /* Curseur de la souris */
    transition: background-color 0.3s, transform 0.3s; /* Transitions pour les effets */
  }
  
  .btn-primary:hover {
    background-color: #2980b9; /* Fond bleu plus foncé au survol */
  }
  
  .btn-primary:active {
    background-color: #1e6091; /* Fond encore plus foncé lorsqu'il est activé */
    transform: scale(0.98); /* Légère réduction pour un effet de clic */
  }