header {
  background-color: var(--primary-color);
  color: white; // This will make the text color white, which should contrast well with the background color.
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;

  .create-button {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 
  
  h1 {
    font-size: 2em;
    text-decoration: none;
  }

  h1 a {
    color: white;
    text-decoration: none;
  }
  nav {
    ul {
      display: flex;
      gap: 1em;
      list-style-type: none;
      li {
        a {
          color: white;
          text-decoration: none;
          font-size: 1.2em;
          cursor: pointer; // Added this line

          &:hover {
            color: #f8f8f8;
          }
        }
      }
    }
  }
}