<form [formGroup]="projectForm" (ngSubmit)="submit()" class="my-form">
  <div class="form-group">
    <input formControlName="title" placeholder="Project Name" class="form-control">
    <div
      *ngIf="
        projectForm.get('title')?.touched && projectForm.get('title')?.invalid
      "
      class="error"
    >
      Project Name is required.
    </div>
  </div>
  <div class="form-group">
    <input formControlName="description" placeholder="Description" class="form-control">
    <div
    *ngIf="
      projectForm.get('description')?.touched &&
      projectForm.get('description')?.invalid
    "
    class="error"
  >
    Description is required.
  </div>
  </div>
<button *ngIf="!isUpdateValue" type="submit" class="btn custom-button">Submit</button>
<button *ngIf="isUpdateValue" type="button" class="btn custom-button" (click)="edit(currentId, formType)">Edit</button>

</form>