


.bg {
  background: rgb(47,69,88);
  background: linear-gradient(0deg, rgba(47,69,88,1) 21%, rgba(246,177,45,1) 69%);
}
.mat-snack-bar-container {
  z-index: 9999 !important; /* Set your desired z-index value */
}
