/* Wrapper for each project card */
.project-wrapper {
  cursor: pointer;
  margin-bottom: 20px;
}

/* Card styles */
.card {
  background-color: #ffffff;
  border: 1px solid #335F8A;
  border-radius: 8px;
  padding: 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

/* Header styles for the card */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #335F8A;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card-title {
  color: #2F4558;
  font-size: 18px;
  margin: 0;
}

/* Icon group styles */
.icon-group {
  display: flex;
  gap: 10px;
}

.edit-icon, .delete-icon {
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-icon:hover, .delete-icon:hover {
  color: var(--secondary-color);
}

/* Body styles for the card */
.card-body {
  color: #2F4558;
}

.card-id {
  color: #335F8A;
  margin-bottom: 5px;
  font-weight: bold;
}

.card-text {
  margin-top: 0;
  font-size: 14px;
}