.list-container {
  background-color: #ffffff;
  border: 1px solid #335F8A;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  max-width: 500px;
}

.list-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #335F8A;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.list-title {
  color: #2F4558;
  font-size: 24px;
}

.icon-group {
  display: flex;
  gap: 10px;
}

.edit-icon, .delete-icon {
  color: var(--primary-color);
  cursor: pointer;
}

.edit-icon:hover, .delete-icon:hover {
  color: var(--secondary-color);
}


.list-items {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
}

.button-wrapper {
  margin-top: 20px;
}

.add-item-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.add-item-btn:hover {
  background-color: var(--secondary-color);
}

