<div class="list-container">
  <header class="list-header">
    <h2 class="list-title">{{ title }}</h2>
  </header>
  <ul class="list-items">
    <!-- Iterate through tasks array -->
    <li *ngFor="let task of tasksList" class="list-item">
      <app-task-card
        [taskId]="task.id"
        [title]="task.title"
        [description]="task.description"
        [comments]="task.comments"
      ></app-task-card>
    </li>
  </ul>
  <div class="button-wrapper">
    <button class="add-item-btn" (click)="toggleModal('taskform', listId)">
      Add another card
    </button>
  </div>
</div>
