<form [formGroup]="taskForm" (ngSubmit)="submit()" class="my-form">
  <div class="form-group">
  
    <input id="Title" formControlName="Title" placeholder="Title" class="form-control" />
    <div *ngIf="taskForm.get('Title')?.touched && taskForm.get('Title')?.invalid" class="error">
      Title is required.
    </div>
  </div>
  <div class="form-group">
   
    <input id="Categorie" formControlName="Categorie" placeholder="Categorie" class="form-control" />
    <div *ngIf="taskForm.get('Categorie')?.touched && taskForm.get('Categorie')?.invalid" class="error">
      Categorie is required.
    </div>
  </div>
  <div class="form-group">
  
    <input id="Description" formControlName="Description" placeholder="Description" class="form-control" />
    <div *ngIf="taskForm.get('Description')?.touched && taskForm.get('Description')?.invalid" class="error">
      Description is required.
    </div>
  </div>
  <div class="form-group">
   
    <input type="date" id="dueDate" formControlName="dueDate"  placeholder="Due Date" class="form-control" />
    <div *ngIf="taskForm?.get('dueDate')?.touched && taskForm?.get('dueDate')?.invalid" class="error">
      A valid future date is required.
    </div>
  </div>
  <button *ngIf="!isUpdateValue" type="submit" class="btn custom-button">Submit</button>
  <button *ngIf="isUpdateValue" type="button" class="btn custom-button" (click)="edit(formType)">Edit</button>
</form>