<div class="container">
  <div class="sidebar">
    <ul>
      <!-- Dynamically display projects and pass the selected project to app-project -->
      <app-project
        [projects]="projects"
        (projectClicked)="onProjectSelected($event)"
      ></app-project>
    </ul>
  </div>

  <div class="main-content">
    <!-- Main content here -->
    <!-- Dynamically generate app-list components for each list in the selected project -->
    <ng-container *ngFor="let filteredList of filteredLists">
      <div class="column-list">
        <app-list
          [title]="filteredList.title"
          [lists]="[filteredList]"
          [projectId]="selectedProject"
          [listId]="filteredList.id"
        ></app-list>
      </div>
    </ng-container>
    <!-- Conditionally display the Add List button -->
    <!-- Conditionally display the Add List button -->
    <div
      *ngIf="selectedProject > 0 && filteredLists && filteredLists.length < 4"
    >
    
      <div
        class="add-list"
        (click)="toggleModal('listform', selectedProject, filteredLists)"
      >
        <i class="fas fa-plus"></i>
        <span>Add List</span>
      </div>
    </div>
  </div>
</div>
