/* Container for sidebar and main content */
.container {
  display: flex; /* Enables flexbox layout */
  height: 100vh; 
  width: 100vw; /* Full viewport width */
  margin: 0; /* Removes left margin */
  padding: 0;/* Full viewport height */
 

}

.sidebar {
  position: sticky;
  top:50; /* Anchors the sidebar to the viewport */
  left: 0; /* Adjust to 'right: 0;' for a right-aligned sidebar */
  width: 20vw;
  min-width: 300px;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Adds a subtle shadow to the right */
  z-index: 100; /* Ensures it's above most other content */
  overflow-y: auto; /* Adds scroll for overflow content */
  padding-bottom: 300px;
  
}

.sidebar ul {
  list-style-type: none; /* Removes bullet points */
  margin-left : 0;
  padding-left: 0%;

}
.main-content {
  
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 20px;
  gap: 20px;
  width: calc(100% - 20vw); /* Adjust width to account for sidebar */
 /* Pushes main content to start after the sidebar */
}

.add-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; /* Reduced padding */
  margin-top: 20px; /* Adjusted margin */
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f8f9fa; /* Light background color */
  color: #333; /* Text color */
  font-weight: bold;
  width: 200px; /* Adjusted width */
  height: 80px; /* Adjusted height */
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.add-list:hover {
  background-color: #e9ecef;
  border-color: #007bff;
}

.add-list span {
  font-size: 1.2em; /* Adjusted font size */
  margin-left: 10px; /* Space between icon and text */
}

.add-list i {
  font-size: 1.5em;
}
