
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Trello-primary: mat.define-palette(mat.$indigo-palette);
$Trello-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Trello-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Trello-theme: mat.define-light-theme((
  color: (
    primary: $Trello-primary,
    accent: $Trello-accent,
    warn: $Trello-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Trello-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Correct way to import Font Awesome CSS in SCSS */
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

*{
  font-family: "Nunito", sans-serif;
}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Nunito", sans-serif;

  --primary-color:#2F4558 ;
  --secondary-color:#F6B12D;

}
.mat-snack-bar-container {
    z-index: 9999 !important; /* Set your desired z-index value */
  }


  .custom-snackbar {
      background-color: green ;// Replace #desiredColor with your color
      color: whitesmoke; // Replace #textColor with the desired text color
    }

    .mat-mdc-snack-bar-container {
        &.custom-snackbar {
          --mdc-snackbar-container-color: var(--secondary-color);
          --mat-mdc-snack-bar-button-color: #fff;
          --mdc-snackbar-supporting-text-color: #fff;
        }
      
        &.info-snackbar {
          --mdc-snackbar-container-color: #2196f3; // Example: Blue for info
          --mat-mdc-snack-bar-button-color: #fff;
          --mdc-snackbar-supporting-text-color: #fff;
        }
      
        &.warning-snackbar {
          --mdc-snackbar-container-color: #ff9800; // Example: Orange for warning
          --mat-mdc-snack-bar-button-color: #000; // Example: Black text for buttons
          --mdc-snackbar-supporting-text-color: #000; // Example: Black text color
        }
      
        &.error-snackbar {
          --mdc-snackbar-container-color: #f44336; // Example: Red for error
          --mat-mdc-snack-bar-button-color: #fff;
          --mdc-snackbar-supporting-text-color: #fff;
        }
      }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
